<p id="notice"><%= notice %></p>

<h1>Users</h1>

  
<table>
  
  
    <% @users.each do |user| %>
      


    
       


<div class="card">
        <tr>
         <th>Name</th>  
        <td><%= user.name %></td>
      </tr>  
      <tr>
        <th>Sex</th>
        <td><%= user.sex %></td>
      </tr>
      <tr>
          <th>Age</th>
          <td><%= user.age %></td>
      </tr>
      <tr>
          <th>DOB</th> 
          <td><%= user.dob.strftime("%d-%m-%Y")%></td>  
      </tr>
      <tr>
          <th>Country</th>
          <td><%= user.country %></td>
      </tr>
      <tr>
          <th>City</th>
          <td><%= user.city %></td>  
      </tr>
      <tr>
          <th>Height</th>
          <td><%= user.height_feet%> ft <%=user.height_inch%> inch</td>
      </tr>
      <tr>
          <th>Language</th>
          <td><%= user.language %></td>
      </tr>
      <tr>
          <th>Education</th>
          <td><%= user.education %></td>
      </tr>
      <tr>
          <th>Occupation</th>
          <td><%= user.occupation%></td>
      </tr>
      <tr>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
              
      </div>
          
    
    
    <% end %>

       
</table>


<br>

<%= link_to 'New User', new_user_path %>
