<h1>New User</h1>




<%= render 'shared/errors', obj: @user %>


<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  
  <%= render "#{@user.current_step}_step", :f => f %>
  <p><%= f.submit "Continue" , :class => "btn btn-default"%></p>
  <p><%= f.submit "Back", :class => "btn btn-default", :name => "back_button" unless @user.first_step? %></p>
  <p><%= f.submit "Submit", :class => "btn btn-default", :name => "submit_button" if @user.last_step? %></p>
<% end %>

<%= link_to 'Back', users_path %>
